{% extends "SUHContratBundle:AffichageContrats:base.html.twig" %}

{% block title %} {{parent()}} - Accueil {% endblock %}

{% block body %}
    <body>
        <div class="container">
            <h1 style="color: white">Hello Pi-couy</h1>
        </div>
    </body>
{% endblock %}