{% extends "SUHContratBundle:AffichageContrats:base.html.twig" %}

{% block head %} {{parent()}}
    <link rel="stylesheet" href="{{asset('bundles/suhContrat/css/contrat.css')}}" type="text/css"/>
{% endblock %}
{% block title %} {{parent()}} - Ajout d'un contrat étudiant {% endblock %}

{% block body %}
<body>
    <div class="container" style="background-color: #b7b7b7">
        <h1>Ajouter un contrat étudiant</h1>

    </div>



</body>
{% endblock %}