{% extends "SUHContratBundle:AffichageContrats:accueil.html.twig" %}




    {% block menuright %}
        {% include "SUHContratBundle:AffichageContrats:menuEtudiantAidant.html.twig" %}
    {% endblock %}

    {% block titleright %}
    <p class="">Gestion heures</p>
    {% endblock %}
    {% block bodyright %}
    <div class="container-contrat col-md-12">

    {% if listeContrats is empty %}
        <br>
        <h2 class="col-lg-offset-1">
            <strong>Aucun contrat pour cet étudiant.
            <br>
            Vous pouvez consulter les
            </strong>
            <a href="{{ path("suh_contrat_showArchive", {'id' : id}) }}" style="color: #1f7e9a">contrats archivés.</a>

        </h2>
    {% endif %}
        <div class="heure">
        
            {% set  previousM = false %}            
            {% for heure in listeHeures %}
                {% if previousM !=  heure.dateAndTime %}
                <div class="bloc-contrat panel panel-primary">
                    <div class="col-lg-12 panel-heading">
                        <span class="arrow-panel-heading glyphicon glyphicon-menu-down"></span>

                        <h3 class="panel-title titre-contrat"> {{ heure.dateAndTime }}</h3>

                        <span class="ok-panel-heading glyphicon glyphicon-ok"></span>

                        <h3 class="panel-title titre-contrat titre-contrat-heures">
                            <span>
                            70
                            </span>
                            heure(s) 
                        </h3>
                        <h3 class="panel-title titre-contrat titre-contrat-heures heures-valides">
                            <span>10 </span>
                            heure(s) validées
                        </h3>
                    </div>
                    {% set previousM = heure.dateAndTime %}
                    {% for heure in listeHeures %}
                        {% if previousM ==  heure.dateAndTime %}
                            <div class="col-lg-12">
                            {{ heure.nbHeure }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}