{% extends "SUHContratBundle:AffichageContrats:accueil.html.twig" %}

    {% block menuright %}
        {% include "SUHContratBundle:Statistiques:menuStatistiques.html.twig" %}
    {% endblock %}

    {% block titleright %}
    <p>Statistiques</p>
    {% endblock %}
    {% block bodyright %}
    <div class="container-stats col-md-12">
      <div id="helper">

      </div>
    	<div  id='chart_div'></div>

    </div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() 
  {
    var dataRaw = {{ listeCoutContrats|json_encode|raw }};

    
    var data = new google.visualization.DataTable(dataRaw);
    
     var options = {'title':'Coût par type de contrat',
                       'width':900,
                       'height':300};

      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, options);

  }
</script>
{% endblock %}
