html,body
{
    background-color: #262A3B; 
    height:100%;
}

/* HEADER */
header > .container-fluid{
    margin: 0px 2%;
    padding: 0px;
}
#logo-head{
    text-align:center;
}

#logo > img {
    display: inline-block;
    padding: 10px 0;
}

header
{
    /*margin-top: 5px;*/
    margin-bottom: 15px;
}

.liensNavbar
{
    border-right: dotted #CCCCCC 1px;
    text-align: center;
}

.liensNavbar:hover
{
    background-color: #DEE0D6;
}

.liensNavbar a
{
    font-size: 18px;
}

#rechercheAvancee:hover
{
    background-color: #BFC34E;
}

#deconnexion
{
    font-size: 18px;
}

#deconnexion:hover
{
    background-color: red;
}

/* BODY */

/* PARTIE GAUCHE */
#containerFluidBody
{
    /*margin: 20px;*/
    background-color: #707070;
    height: 90%;
    margin-left: 2%;
    margin-right: 2%;
    border: 5px solid #707070;
}

#containerFluidBody .row
{
    height: 100%;
}

#divListe
{   
    height: 100%;
    background-color: #F5F5F5;  
    // width:85%;
    //border-right: 6px solid #F5F5F5;
}

#recherche
{
    padding: 10px;
    max-height: 9%;
}

#liste
{
    max-height: 80%;
    overflow: auto;
    background-color: #e4e4e4;

}

#liste ul
{
    list-style-type: none;
    padding: 0px;
    
}

#liste ul a
{
    display: block;
    text-align: center;
    text-decoration: none;
}


.impair
{
    background-color: #f9f9f9;
}

.pair:hover, .impair:hover
{
    background-color: #BCC6D9;
}

#nbResultats
{
    max-height: 3%;
    text-align: center;
}

#gestionEtudiants
{
    max-height: 7%;
    padding: 15px;
    text-align:center;
    
}

#gestionEtudiants > a {
	float:none;
	display:inline-block;
}


/* PARTIE DROITE */

#etudiantNomPrenom
{
    font-style: italic;
    font-size: 25px;
    font-family: Verdana, sans-serif;
    text-align: center;
}

#affichage
{   
    height: 100%;
    background-color: #bcc6d9;    
    overflow: auto;
    border-left: 5px solid #707070;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.5) inset;
    padding: 5px 5px 5px 15px;
    //box-shadow: -1px 2px 10px 3px #BBBBBB inset;
}

.spoiler table tbody tr td
{
    font-size: 16px;
    font-family: Verdana;
    padding-left: 30px;
}
.spoiler table tbody tr:nth-child(even) {background-color: #f9f9f9}
.spoiler table tbody tr:nth-child(odd) {background-color: #d8d8d8}


/* IMPORT EXPORT EXCEL VUE */

#importExcel, #exportExcel
{
    text-align: center;
    font-size:16px;
}

/* ajout étudiant */
#blocAjout
{
    text-align: center;
}

.widgetAjout
{
    width: 400px;
    display: inline;
}

.labelAjout
{
    width: 200px;
    text-align: right;
    margin-right: 20px;
}

.choiceDate
{
    width: 400px;
    display: inline-block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin right:10px;
}

#form_parite_1
{
    margin-left: 10px;
}

#form_dateNaissance_day,#form_dateNaissance_month,#form_dateNaissance_year
{
    width: 75px;
    margin-left: 10px;
}
.choiceButton
{
    width: 400px;
    display: inline-block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin right:200px;
}

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background-color: #2184be;
    color: #000000;
    cursor: default;
    font-size: 16px;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background-color:#20D6C7;
    color: #fff;
    cursor: default;
    font-size: 16px;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background-color: #20D6C7;
    color: #000000;
    font-size: 16px;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background-color: #ff3111;
    color: #fff;
    font-size: 16px;
}

.wizard > .content
{

    background-color: #DEE0D6;
    display: block;
    margin: 0.5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow-y: auto;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background-color: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background-color: #20D6C7;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background-color: #eee;
    color: #aaa;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}



/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background-color: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background-color: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}

