@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');



html,body
{
    background-color: #262A3B; 
    height:100%;
}
a {
    color:#000;
}

.Roboto{
    font-family: 'Roboto', sans-serif;
}

.btn-primary:hover, .btn-success:hover{
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* HEADER */

.message-fixed{
    position:fixed;
    bottom:0;
    right: 0;
    z-index: 3;
}

#logo > img
{
    display:inline-block;
    background-color: rgb(15,16,23,0.3);
    padding:10px 0;
}
#logo-head{
    text-align:center;
}

header
{
    /*margin-top: 5px;*/
    margin-bottom: 15px;
}

header .container-fluid{
    margin: 0 2%;
    padding:0;
}
.liensNavbar
{
    
    text-align: center;

}



.liensNavbar a
{
    font-size: 18px;
    background-color:#CCCCCC;
}
.nav > li > a:focus, .nav > li > a:hover {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#rechercheAvancee:hover
{
    background-color: #BFC34E;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
ul.navbar-nav{
    width:100%;
}
#deconnexion
{
    font-size: 18px;
    float:right;
}

#deconnexion:hover
{
    background-color: red;
}

/* BODY */

/* PARTIE GAUCHE */
#containerFluidBody
{
    height: 90%;
    margin-left: 2%;
    margin-right: 2%;
    padding:0;
}

#containerFluidBody .row
{
    height: 100%;
    margin:0;
}

#divListe
{   
    height: 100%;
    background-color: #F5F5F5;  
    /*width:85%;
    border-right: 6px solid #F5F5F5;
    */
    text-align:center;
}

#recherche
{
    padding: 10px;
    display:inline-block;
}
#recherche > div {
    margin:0 !important;
}
#liste
{
    height:calc(100% - 170px);
    overflow: auto;
    background-color: #e4e4e4;

}

#liste ul
{
    list-style-type: none;
    padding: 0px;
    
}

#liste li {
    height:40px;
}

#liste ul a
{
    display: block;
    text-align: center;
    text-decoration: none;
    line-height:40px;
    font-size: 16px;
    text-transform: uppercase;
}


.impair
{
    background-color: #f9f9f9;
}

.impair.btn-primary{
	background-color: #337ab7;
}

.btn-primary > a {
    color:#fff;
}
.pair:hover, .impair:hover
{
    background-color: #BCC6D9;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.pair > a , .impair > a {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#nbResultats
{
    display:inline-block;
    text-align: center;
}

#gestionEtudiants
{
    display:inline-block;
    padding: 15px;
    width:100%;
    
}

/* PARTIE DROITE */

#etudiantNomPrenom
{
    font-style: italic;
    font-size: 25px;
    font-family: Verdana, sans-serif;
    text-align: center;
}

#affichage
{   
    height: 100%;
    background-color: #fff;    
    padding: 0;
    min-height:700px;
    text-align:center;
}
#listeProfil{
    position:relative;
}
#listeProfil > ul {
    position:absolute;
    bottom:100%;
}

.float-fix-parent{
    text-align: left;
    font-size: 0;
}
.float-fix{
    float:none;
    display:inline-block !important;
    cursor:pointer !important;
}
.menu-button{
    border-left:1px black dotted !important;
}

.spoiler table tbody tr td
{
    font-size: 17px;
    font-family: Verdana;
    padding-left: 30px;
}
.spoiler table tbody tr:nth-child(even) {background-color: #f9f9f9}
.spoiler table tbody tr:nth-child(odd) {background-color: #d8d8d8}


/* IMPORT EXPORT EXCEL VUE */

#importExcel, #exportExcel
{
    text-align: center;
    font-size:17px;
}

/* ajout étudiant */
#blocAjout
{
    text-align: center;
}

.widgetAjout
{
    width: 400px;
    display: inline;
}

.labelAjout
{
    width: 200px;
    text-align: right;
    margin-right: 20px;
}

.choiceDate
{
    width: 400px;
    display: inline-block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin right:10px;
}

#form_parite_1
{
    margin-left: 10px;
}

#form_dateNaissance_day,#form_dateNaissance_month,#form_dateNaissance_year
{
    width: 75px;
    margin-left: 10px;
}
.choiceButton
{
    width: 400px;
    display: inline-block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin right:200px;
}

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.3em 0.3em;
    padding: 1em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 17px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background-color: #2184be;
    color: #000000;
    cursor: default;
    font-size: 17px;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background-color:#20D6C7;
    color: #fff;
    cursor: default;
    font-size: 17px;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background-color: #20D6C7;
    color: #000000;
    font-size: 17px;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background-color: #ff3111;
    color: #fff;
    font-size: 17px;
}

.wizard > .content
{

    background-color: #DEE0D6;
    display: block;
    margin: 0.5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow-y: auto;
    
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background-color: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background-color: #20D6C7;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background-color: #eee;
    color: #aaa;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}



/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background-color: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background-color: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}

.tableEtablissement
{
    width:170px;
}

.tableDiplome
{
    width:170px;
}

/* Menu */

#addContrat span {
    position:relative;
    text-align:center;
    width:25px;
    height:25px;
    display:inline-block;
    float:right;
    font-weight:500;
    color:#000;
}

#addContrat span::before{
    display: inline-block;
    position: absolute;
    text-align: center;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 5px;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
}

/* Contrat */
.container-right{
    height:100%;
}

.bloc-contrat {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}

.container-contrat{
    height: calc(100% - 31px);
    overflow:auto;
    text-align:left;
}

.titre-contrat{
    font-weight:bolder;
    line-height:30px;
    float:left;
}
.titre-contrat span {
    position:relative;
    text-align:center;
    width:30px;
    height:30px;
    display:inline-block;
}

.titre-contrat span::before {
    display: inline-block;
    position: absolute;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
}

.titre-contrat-heures {
    float:right;
}
.bloc-contrat h3 {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}

.contrat-actions{
    text-align:right;
    margin: 40px 0 0 0;
}
.contrat-actions a {
    text-decoration:none;
}
/* Profil */
.bloc-profil{
    width:100%;
    display:inline-block;
    text-align:left;
}